*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(226, 227, 235);
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    width: 80%;
    margin: 0px auto;

}

header{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header img{
    width: 80px;
}

#content{
    background-color: rgb(211, 226, 226);
    min-height: 500px;
    float: left;
    width: 100%;
}

nav ul li{
    text-align: right;
    list-style: none;
    margin: 10px;
    float: right
}


nav{
    height: 80px;
    background-color: rgb(171, 196, 164);

}

.clearfix {
    clear: both;
}

footer{
    background-color: rgb(107, 170, 136);
    text-align: center;
    height: 50px ;
    line-height: 50px;
    font-weight: bold;

}

.Niveles{
    width: 500px;
}

.Niveles2{
    width: 300px;
}

.Niveles4{
    width: 300px;
}
